{% extends "layouts/base.html" %}

{% block title %} Sistem Rekomendasi Thrombolysis {% endblock %} 

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed {% endblock body_class %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <style>
    #image-container {
      text-align: center;
  }

    .display-none {
      display: none !important;
  }

    .image-row {
      margin-top: 10px;
    }
  
  .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,.8);
      z-index: 999;
      opacity: 1;
      transition: all 0.5s;
  }
   
  .lds-dual-ring {
      display: inline-block;
  }

  .lds-dual-ring:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 5% auto;
      border-radius: 50%;
      border: 6px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
  .modal-body table td {
    word-wrap: break-word;
    white-space: normal;
  }
  body{background-color:white}.card{width:400px;background-color:#fff;border:none;border-radius: 12px}label.radio{cursor: pointer;width: 100%}label.radio input{position: absolute;top: 0;left: 0;visibility: hidden;pointer-events: none}label.radio span{padding: 7px 14px;border: 2px solid #eee;display: inline-block;color: #039be5;border-radius: 10px;width: 100%;height: 48px;line-height: 27px}label.radio input:checked+span{border-color: #039BE5;background-color: #81D4FA;color: #fff;border-radius: 9px;height: 48px;line-height: 27px}.form-control{margin-top: 10px;height: 48px;border: 2px solid #eee;border-radius: 10px}.form-control:focus{box-shadow: none;border: 2px solid #039BE5}.agree-text{font-size: 12px}.terms{font-size: 12px;text-decoration: none;color: #039BE5}.confirm-button{height: 50px;border-radius: 10px}
  </style>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{{ ASSETS_ROOT }}/plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock stylesheets %}

{% block content %}    

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#">Sistem Rekomendasi Thrombolysis Pada Pasien Stroke</a></li>
              <li class="breadcrumb-item"><a href="#">ThormboCT Versi Model: 1.0.0</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <!-- /.content-header -->
    
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        
        <div class="container mt-5">
          {% csrf_token %}
            <!-- Dropdown -->
            <div>
              <label for="dropdown">Pilihan Tipe Data:</label>
              <div class="d-flex flex-row">
                <label class="radio mr-1"> 
                  <input type="radio" name="add" value="1" checked> <span> CT</span>
                </label> 
                <label 
                  class="radio"> <input type="radio" name="add" value="2"> <span>CT dan Klinis</span> 
                </label> 
                <label 
                  class="radio"> <input type="radio" name="add" value="3"> <span>CT, Klinis, dan Lab</span> 
                </label> 
              </div>
            </div>
            
            <!-- Input file -->
            <h4>CT (Dicom Files)</h4>
            <div class="form-group">              
              <label for="file" class="form-label">Files (.dcm):</label>
              <input class="form-control" type="file" id="file" accept=".dcm" multiple>
            </div>
            
            <!-- Float input labels -->
            <div id="klinik-container" style="display:none">
              <h4>Klinik</h4>
              <div class="form-group">
                <label for="awitan">Awitan:</label>
                <input type="number" class="form-control" id="awitan" placeholder="menit" pattern="[0-9]+(\.[0-9]+)?" required>
              </div>
              <div class="form-group">
                <label for="usia">Usia:</label>
                <input type="number" class="form-control" id="usia" placeholder="tahun" pattern="[0-9]+(\.[0-9]+)?" required>
              </div>
              <div class="form-group">
                <label for="tensi_atas">Tensi Atas:</label>
                <input type="number" class="form-control" id="tensi_atas" placeholder="sistolik mm hg" pattern="[0-9]+(\.[0-9]+)?" required>
              </div>
              <div class="form-group">
                <label for="tensi_bawah">Tensi Bawah:</label>
                <input type="number" class="form-control" id="tensi_bawah" placeholder="diastolik mm hg" pattern="[0-9]+(\.[0-9]+)?" required>
              </div>
            </div>
            
            <div id="lab-container" style="display:none">
              <h4>Lab</h4>
              <!-- Additional float input labels for Klinik -->
              <div class="form-group">
                <label for="pt">PT:</label>
                <input type="number" class="form-control" id="pt" placeholder="pasien detik" pattern="[0-9]+(\.[0-9]+)?" required>
              </div>
              <div class="form-group">
                <label for="aptt">APTT:</label>
                <input type="number" class="form-control" id="aptt" placeholder="pasien detik" pattern="[0-9]+(\.[0-9]+)?" required>
              </div>
              
              <!-- Additional float input labels for Lab -->
              <div class="form-group">
                <label for="fibrinogen">Fibrinogen:</label>
                <input type="number" class="form-control" id="fibrinogen" placeholder="mg/dl" pattern="[0-9]+(\.[0-9]+)?" required>
              </div>
              <div class="form-group">
                <label for="gds">GDS:</label>
                <input type="number" class="form-control" id="gds" placeholder="glukosa darah sewaktu, mg/dl" pattern="[0-9]+(\.[0-9]+)?" required>
              </div>
            </div>
              
            <!-- Submit button -->
            <button id="btn-submit"class="btn btn-primary">Submit</button>
        </div>
      </div>
      <!-- /.container-fluid -->

      <div class="modal fade" id="modal-xl">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="dag-name-title">Hasil Analisis</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="alert-result">
              </div>

              <div>
                <canvas id="myChart"></canvas>
              </div>
              <br>
              <div class="table-responsive">
                <p>keterangan</p>
                <table class="table table-striped">
                  <tr>
                    <td>tidak signifikan</td>
                    <td>:</td>
                    <td>Persentase kemungkinan pasien tidak akan mengalami penurunan nilai NIHSS yang signifikan paska terapi trombolisis</td>
                  </tr>
                  <tr>
                    <td>signifikan</td>
                    <td>:</td>
                    <td>Persentasi pasien kemungkinan akan mengalami penurunan nilai NIHSS yang signifikan paska terapi trombolisis</td>
                  </tr>
                  <tr>
                    <td>disclaimer</td>
                    <td>:</td>
                    <td>hasil diatas merupakan suatu rekomendasi untuk penentuan pemberian terapi trombolisis pada pasien stroke iskemik dan masih dalam proses pengembangan dan tidak dapat mengantikan keputusan klinisi di lapangan</td>
                  </tr>
                </table>
              </div>
              <div id="image-container">              
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div id="loader" class="lds-dual-ring display-none overlay"></div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  
  <script src="{{ ASSETS_ROOT }}/js/index.js"></script>

{% endblock javascripts %}
